.icon-bar {
    width: 90px;
    background-color: #004a90;
    margin-top: -35%;
    height: 460px;
    border-radius: 15px;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 8px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    margin-top: 10px;
    border-radius: 50%;
}

.icon-bar a:hover {
    background-color: orange
}

.active {
    background-color: orange;
}

.contatos {
    text-align: center;
    border: 5px solid grey;
    border-radius: 15px;
    width: 250px;
    height: 450px;
    margin-left: 85px;
    background-color: rgb(241, 236, 225);
    font-family: trebuchet ms;
    font-size: 19px;
}

hr {
    border: 1px solid orange;
    width: 99%;
}

p.online {
    text-align: left;
    font-family: 'Trebuchet MS';
    color: #004a90;
    line-height: 100%;
    font-size: 20px;
}

p.offline {
    text-align: left;
    font-family: 'Trebuchet MS';
    color: orange;
    font-size: 20px;
    

}

img {

    border-radius: 500%;
    width: 85px;
    height: 85px;
}

.messagebox {
    width: 100%;
    height: 100%;
    margin-left: 345px;
    font-family: 'Trebuchet MS';
    background-color: rgb(241, 236, 225);
    font-size: 19px;
    margin-top: -460px;
    border: grey solid 5px;
    border-radius: 15px;
}

input[type=text] {
    float: top;
    border: none;
    padding: 16px;
    margin-top: 400px;
    width: 100%;
    text-align: left;
    font-size: 16px;
}
